{% extends "convert/layout.html" %}

{% block title %}
    Unit
{% endblock %}

{% block body %}
<h1>Distance</h1>
<select id="unit_from" onchange="unit_converter()" >
    <option name="mm" value="mm"> Milimeter (mm) </option>
    <option name="cm" value="cm"> Centimeter (cm) </option>
    <option name="meter" value="meter"> Meter (m) </option>
    <option name="km" value="km"> Kilometer (km) </option>
    <option name="inch" value="inch"> Inch (in) </option>
    <option name="feet" value="feet"> Foot (ft) </option>
    <option name="yard" value="yard"> Yard (yd) </option>
    <option name="mile" value="mile"> Mile (mi) </option>
    <input id="num1" onblur="unit_converter()">
</select>
<select id="unit_to" onchange="unit_converter()" >
    <option name="mm" value="mm"> Milimeter (mm) </option>
    <option name="cm" value="cm"> Centimeter (cm) </option>
    <option name="meter" value="meter"> Meter (m) </option>
    <option name="km" value="km"> Kilometer (km) </option>
    <option name="inch" value="inch"> Inch (in) </option>
    <option name="feet" value="feet"> Foot (ft) </option>
    <option name="yard" value="yard"> Yard (yd) </option>
    <option name="mile" value="mile"> Mile (mi) </option>
    <input type="text" id="answer" value="" disabled="disabled">
</select>

<br><br><br><br>
<h1>Temperature</h1>
<select id="temp_from" onchange="temp_converter()" >
    <option name="C" value="C"> Celsius (°C) </option>
    <option name="F" value="F"> Fahrenheit (°F) </option>
    <option name="K" value="K"> Kelvin (K) </option>
    <option name="R" value="R"> Rankine (°R) </option>
    <input id="temp1" onblur="temp_converter()">
</select>
<select id="temp_to" onchange="temp_converter()" >
    <option name="C" value="C"> Celsius (°C) </option>
    <option name="F" value="F"> Fahrenheit (°F) </option>
    <option name="K" value="K"> Kelvin (K) </option>
    <option name="R" value="R"> Rankine (°R) </option>
    <input type="text" id="temp_answer" value="" disabled="disabled">
</select>
<br><br><br><br>

<h1>Mass</h1>
<select id="mass_from" onchange="mass_converter()" >
    <option name="mg" value="mg"> Milligram (mg) </option>
    <option name="g" value="g"> Gram (g) </option>
    <option name="kg" value="kg"> Kilogram (kg) </option>
    <option name="oz" value="oz"> Ounce (oz) </option>
    <option name="lb" value="lb"> Pound (lb) </option>
    <option name="st" value="st"> Stone (st) </option>
    <option name="t" value="t"> Tonne (t) </option>
    <input id="mass1" onblur="mass_converter()">
</select>
<select id="mass_to" onchange="mass_converter()" >
    <option name="mg" value="mg"> Milligram (mg) </option>
    <option name="g" value="g"> Gram (g) </option>
    <option name="kg" value="kg"> Kilogram (kg) </option>
    <option name="oz" value="oz"> Ounce (oz) </option>
    <option name="lb" value="lb"> Pound (lb) </option>
    <option name="st" value="st"> Stone (st) </option>
    <option name="t" value="t"> Tonne (t) </option>
    <input type="text" id="mass_answer" value="" disabled="disabled">
</select>

{% endblock %}